body{
    margin:0;
}
nav{
    padding: 10px;
    height: 20%;
    background-color: darkkhaki;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav img{
    height: 80%;
}
.menu{

    width: 60%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* display: none; */

}
.menu a{
    text-decoration: none;
    font-weight: bold;
    color: antiquewhite;
    border: 3px solid black;
    border-radius: 5px;
    padding: 12px 18px;
    margin: 5px;
    background-color: blue;


}

.menu a:hover{
    background-color: aquamarine;
    color: black;
    transition: 2s;
    transform: rotate(360deg);
    border-radius: 50px;
}
.banner img{
    height: 30%;
    width: 100%;
}
/* section{ */
.suna{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;
}
.prueba{
    height: 100px;
    width: 25%;
    background-color: chartreuse;
    border: 10px;
    border-top-style: dashed;
    border-right-style: double;
    border-bottom-style: dotted;
    border-left-style: solid;   
}

.sdos{
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.muestra{
    width: 20%;
    background-color: blue;
    padding: 10px;
    margin:10px;
    border: 3px solid black;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgb(0, 0, 0);
    opacity: 70%;

}

.muestra img{
    width: 80%;
    
}

.muestra h2{
    color: black;
    text-shadow: 2px 2px 5px rgba(255,126,0,1);
}


footer{
    background-color: black;
    padding: 20px;
}

.altofooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h3{
    color: aliceblue;
}
footer p{
    color: aliceblue;
}

.centrofooter{
    /* background-color: gold; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.centrofooter div{
    width: 30%;
    /* background-color: aqua; */
    /* margin: 20px; */
}
.centro1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.centro1 a{
    font-size: 35px;
    text-decoration: none;
    /* color: gold; */
}
.centro1 ul{
    list-style: none;
}
.centro2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.centro2 img{
    width: 50%;
}
.centro3{
    padding: 30px;
}

.bajofooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
