body{
    margin:0;
}
nav{
    padding: 10px;
    height: 20%;
    background-color: darkkhaki;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

nav img{
    height: 80%;
}
.menu{

    width: 60%;
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* display: none; */

}
.menu a{
text-decoration: none;
font-weight: bold;
color: antiquewhite;
border: 3px solid black;
border-radius: 5px;
padding: 12px 18px;
margin: 5px;
background-color: blue;


}

.menu a:hover{
background-color: aquamarine;
color: black;
transition: 2s;

transform: rotate(360deg);
}
.banner img{
    height: 15%;
    width: 100%;
}
/* section{ */
.una{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 10px;
}
.prueba{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    border: 10px;
    border-top-style: dashed;
  border-right-style: double;
  border-bottom-style: dotted;
  border-left-style: solid;

    
}


.dos{
    padding: 20px;
    background-color: cornflowerblue;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.muestra{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.muestra h1{
background-color: blueviolet;
}

.muestra img{
width: 150px;
}